#open {
     -fx-background-image: url("../image/import.png");
}

#export {
     -fx-background-image: url("../image/export.png");
}

#restart {
	 -fx-background-image: url("../image/redo.png");
}

#run {
     -fx-background-image: url("../image/play-circle.png");
}

#circuit1{
     -fx-background-image: url("../image/copyright.png");
}

#next{
     -fx-background-image: url("../image/down-circle.png");
}

#forward{
     -fx-background-image: url("../image/left-circle.png");
}

#bloch{
     -fx-background-image: url("../image/earth.png");
}

#toolbar .button {
    -fx-background-color:transparent ;
    -fx-background-radius:0;
    -fx-border-color:transparent;
    -fx-border-width: 0 0 0 0;
}

#toolbar .button:hover {
    -fx-background-color: "#cdcdcd";
    -fx-background-radius:3;
}



